/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a {
    color: #1478cd;
}

a:hover {
    color: lighten(#1478cd, 10%);
}